<% if false %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.25.0/styles.min.css"
      />
    <script>
      document.addEventListener("DOMContentLoaded", async function() {
        
          await import("lib/shopify_app")
        

        var SessionToken = window["app-bridge"].actions.SessionToken
        var app = window.app;

        app.dispatch(
          SessionToken.request(),
        );

        // Save a session token for future requests
        window.sessionToken = await new Promise((resolve) => {
          app.subscribe(SessionToken.Action.RESPOND, (data) => {
            resolve(data.sessionToken || "");
          });
        });

        var fetchProducts = function() {
          var headers = new Headers({ "Authorization": "Bearer " + window.sessionToken });
          return fetch("/products", { headers })
            .then(response => response.json())
            .then(data => {
              var products = data.products;

              if (products === undefined || products.length == 0) {
                document.getElementById("products").innerHTML = "<br>No products to display.";
              } else {
                var list = "";
                products.forEach((product) => {
                  var link = `<a target="_top" href="https://<%= @shop_origin %>/admin/products/${product.id}">`
                  list += "<li>" + link + product.title + "</a></li>";
                });
                document.getElementById("products").innerHTML = "<ul>" + list + "</ul>";
              }
            });
        }();
      });
    </script>
  </head>
  <body>
    <h2>Products</h2>
    <div id="products"><br>Loading...</div>
    <h2>Webhooks</h2>

    <% if @webhooks.present? %>
    <ul>
      <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
      <% end %>
    </ul>
    <% else %>
    <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
    <% end %>
  </body>
</html>
<% end %>


<div class="index-start">

	<!-- ASSIGN BADGE SECTION -->
  <div class="Polaris-Layout">

    <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">Assign Badge To Products</h2>
        </div>
        <div class="Polaris-Card__Section">
          <%= link_to 'Assign Product', 'javascript:void(0)', class: "Polaris-Button Polaris-Button--primary custom-button"%>
        </div>
      </div>
    </div>


    <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">Assign Badge To Collections</h2>
        </div>
        <div class="Polaris-Card__Section">
          <%= link_to 'Assign Collections', 'javascript:void(0)', class: "Polaris-Button Polaris-Button--primary custom-button"%>
        </div>
      </div>
    </div>


    

  </div></br>

  <!-- ASSIGN BADGE LISTING -->
  <div class="Polaris-Layout">
    <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">Active Products Badge List</h2>
        </div>
        <div class="Polaris-Card__Section">
          <%= link_to 'Product Listing', 'javascript:void(0)', class: "Polaris-Button Polaris-Button--primary custom-button"%>
        </div>
      </div>
    </div>

    <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">Active Collections Badge List</h2>
        </div>
        <div class="Polaris-Card__Section">
          <%= link_to 'Collection Listing', 'javascript:void(0)', class: "Polaris-Button Polaris-Button--primary custom-button"%>
        </div>
      </div>
    </div>
  </div></br>

  <!-- CREATE OWN BADGE EDIT AND UPDATE -->
  <div class="Polaris-Layout">
    <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">Create Own Badge</h2>
        </div>
        <div class="Polaris-Card__Section">
          <%= link_to 'Create Badge', 'javascript:void(0)', class: "Polaris-Button Polaris-Button--primary custom-button"%>
        </div>
      </div>
    </div>

    <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">Edit Update Own Badge</h2>
        </div>
        <div class="Polaris-Card__Section">
          <%= link_to 'Edit Badge', 'javascript:void(0)', class: "Polaris-Button Polaris-Button--primary custom-button"%>
        </div>
      </div>
    </div>
  </div></br>

  <!-- EDIT DEFAULT BADGE AND UPDATE -->
  <div class="Polaris-Layout">
    <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">Edit Default Badge</h2>
        </div>
        <div class="Polaris-Card__Section">
          <%= link_to 'Edit Badge', 'javascript:void(0)', class: "Polaris-Button Polaris-Button--primary custom-button"%>
        </div>
      </div>
    </div>

    <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">Coming Soon</h2>
        </div>
        <div class="Polaris-Card__Section">
          <%= link_to 'Cooming Soon', 'javascript:void(0)', class: "Polaris-Button Polaris-Button--primary custom-button"%>
        </div>
      </div>
    </div>
  </div></br>

</div>
        </div>
        <div class="Polaris-Card__Section">