<div class="nav-menu">
	<nav class="nav-menu-wrapper">
  	<div class="nev-menu-inner">
    	<ul class="nev-menu-list">

				<li>
        <i class="fa fa-home" aria-hidden="true"></i>

					<%= link_to 'Home', "javascript:void(0);", class: "menu-link" %>            
				</li>

				<li>
					<%= link_to 'Active Badge', "javascript:void(0);", class: "menu-link" %>            
				</li>

				<li>
					<%= link_to 'Create Badge', "javascript:void(0);", class: "menu-link" %>  
				</li>

				<li>
					<%= link_to 'Plan', "javascript:void(0);", class: "menu-link" %>  
				</li>

				<li>
					<%= link_to 'About', "javascript:void(0);", class: "menu-link" %>  
				</li>
				
				<li>
					<%= link_to 'FAQ', "javascript:void(0);", class: "menu-link" %>
				</li>

    	</ul>
  	</div>
	</nav>
</div>
